.form{
    background-color: #ca67ca;
    padding: 50px;
    margin-left: 20%;
    margin-right: 30%;
}
.table{
    background-color: #4646d3;
    width: 400px;    
    text-align:center;
    margin-left: 50px;
}